<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnDeprecation="true"
    failOnIncomplete="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnSkipped="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Service</directory>
            <directory>tests/Db</directory>
            <directory>tests/Controller</directory>
            <exclude>tests/LiveTests</exclude>
        </testsuite>
        <testsuite name="live">
            <directory>tests/LiveTests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="NEXTCLOUD_TEST" value="1"/>
    </php>
</phpunit>
